%h1 What is Two Pickles?

%p 
	Two Pickles has been described as a number of things, including but not 
	limited to:
	%ul
		%li A short, stocky, slow-witted bald man
		%li A ruby the size of a tangerine
		%li The worst audience participant Cirque du Soleil ever had
%p
	In reality, we're just a motivated group of people trying to change the 
	world. Two Pickles began as an idea for a barter website, but tripped 
	and fell into a revolution.
%p
	Two Pickles is a new approach to managing your "stuff." We have created 
	a way to buy, sell and trade stuff with people in your real-life network, 
	instead of posting classified ads to strangers. Neighbors, classmates 
	and co-workers need the stuff you're getting rid of, and twopickles.com 
	is the way to get it to them.
%p
	When you throw a party, you don't just invite your entire contacts list. 
	You hand-pick the guests because throwing a party is a selective process. 
	Why should selling your car be any different? Or getting a tutor for 
	your kids? Exchanging goods and services should be as selective as you 
	want it to be, and we are bringing that concept to life with 
	twopickles.com. Two Pickles creates online communities for you to buy, 
	sell and trade with real-life connections. Each community brings together 
	people that have something in common, such as work, school, residence 
	or special interest.
%p
	Our online communities offer a lot of unique features:
	%ul
		%li 
			Built-in chat feature. Ever been to a classifieds site and when 
			you wanted to buy or trade something you had your Outlook pop-up? 
			We don't want you to deal with that hassle, so all registered Two 
			Pickle users have a built in chat feature. It allows you to control 
			all of your potential trades, the dialogues you have with them 
			and the ability to manage your trades in a concise way.
		%li 
			Security. People you have something in common with, such as 
			neighbors or co-workers, are more reliable than total strangers.
		%li 
			Savings. Bartering or buying 'used' instead of 'new' helps you 
			meet your needs without spending an arm and a leg.
		%li 
			Public Service. Lend a hand to your fellow citizens and reduce 
			waste by supporting product sustainability.
		%li 
			Humanity. Build new relationships and contribute to world peace. 
			If everyone on Earth is united by Two Pickles Communities, 
			there will be no wars!