%h1 Frequenty Asked Questions

%h4 How do I search for items?
%p 
	There are multiple ways you can search or browse for items and services 
	on Two Pickles:
%ol
	%li
		You can enter what you're looking for to see if it's in Two Pickles 
		communities.
	%li
		See that bar on the top of this page? Click the Search button and filter 
		by category, location or community. If you ever want to start over, just 
		click on the Two Pickles logo to return to the homepage.
	%li
		Want to tour to pickles with our official tour guide Dr. Richard Pickle? 
		Click the "Browse" button on the top of this page and find a variety of 
		categories to peruse as you casually decide what to trade for.
		
%h4 Can you use Two Pickles without registering?
%p 
	Absolutely.  Registering is cool because it lets you join Two Pickles 
	Communities, but the choice is yours.  Unregistered users can still post 
	goods and services by location (city/state).

%h4 Can anyone create a community?
%p
	Anyone and everyone can create communities. Contact us for more details 
	on how to create a community in your area and to become a part of the Two 
	Pickles network. We'll respond back as quickly as possible!
	
%h4 How do you contact Two Pickles?
%p
	All questions, comments and marriage proposals should be sent through our 
	Contact Us page.

%h4 How many communities can you join?
%p
	Most Two Pickles Communities have security requirements (i.e. password or 
	email domain).  But as long as you meet those requirements, there is no 
	limit on community memberships.  This way you can search and post to each 
	group you're a part of, or multiple groups at once!
	
%h4 Once I decide to Trade, how do I complete the transaction?
%p
	Two Pickles does not involve itself in the actual transaction of the 
	trade. We depend on you guys to locally meet up and trade the items and 
	or services yourself. If you have questions on how to meet up with 
	someone locally please refer to our Safety Tips page for more information.