%h1 Privacy Policy
%p
	Two Pickles values the safety and privacy of twopickles.org users. We will 
	do our best to protect any personal information you provide while using 
	our site.
%p
	%ol
		%li 
			Privacy protection
			%ul
				%li
					Two Pickles does not run any type of advertising on 
					twopickles.org.
				%li 
					Two Pickles does not share your information with third parties 
					for marketing purposes.
				%li 
					Two Pickles does not engage in any kind of online marketing.
				%li
					Two Pickles does not employ tracking devices for any reason.
				%li 
					Two Pickles does not send you unsolicited communications for 
					marketing purposes.
				%li
					Two Pickles does not knowingly collect any information from 
					persons under the age of 13. If Two Pickles learns that a 
					posting is made on twopickles.org by a person under the age 
					of 13, the post will be removed.
				%li
					Twopickles.org and posts made on twopickles.org may provide 
					links to third party websites, which may have different 
					privacy policies. Two Pickles is not responsible for and has 
					no control over the privacy policies of third party websites. 
					Two Pickles encourages all users to read the privacy policies 
					of each and every website visited.
		%li
			Data collection
			%ul
				%li
					Some pages on twopickles.org ask for an email address for the 
					purpose of self-publishing and confirmation emails.
				%li
					Twopickles.org does not store credit card information. Credit 
					card transactions are transmitted to a financial gateway, and 
					Two Pickles endeavors to protect the security of your payment 
					information during transmission by using Secure Sockets Layer 
					(SSL) technology.
				%li
					Two Pickles may collect personal information if provided in 
					feedback or comments, or if you contact us directly. Please 
					do not post any personal information on twopickles.org trade 
					listings that you wish to keep private.
				%li
					Two Pickles web logs collect standard web log entries for 
					each page served, including your IP address, page URL, and 
					timestamp. Web logs help us to diagnose problems with our 
					server, to administer the twopickles.org site, and to 
					otherwise provide service to you, the Two Pickles user.
		%li
			Data storage
			%ul
				%li
					All trade postings are stored in the Two Pickles database, 
					even after "deletion," and may be archived elsewhere.
				%li
					Two Pickles web logs and other records are stored 
					indefinitely.
				%li
					Although Two Pickles makes good faith efforts to store all 
					information in a secure operating environment that is not 
					available to the public, we cannot guarantee complete 
					security.
		%li
			Information disclosure
			%ul
				%li
					Two Pickles may disclose information about twopickles.org 
					users if required to do so by law or in the good faith belief 
					that such disclosure is reasonably necessary to respond to 
					subpoenas, court orders, or other legal process.
				%li
					Two Pickles may also disclose information about twopickles.org 
					users to law enforcement officers or others, in the good 
					faith belief that such disclosure is reasonably necessary 
					to: enforce the twopickles.org Terms of Use; respond to 
					claims that any twopickles.org posting or other content 
					violates the rights of third parties; or protect the rights,
					property, or personal safety of twopickles.org, its users 
					or the general public.
		%li 
			International use
			%ul
				%li
					By visiting twopickles.org and providing data, you 
					acknowledge and agree that due to the international dimension 
					of twopickles.org, Two Pickles may use the data collected 
					in the course of our relationship for the purposes identified 
					in this policy or in our other communications with you, 
					including the transmission of information outside your 
					resident jurisdiction
				%li
					Please understand that all provided data may be stored on 
					servers located in the United States. By providing Two 
					Pickles with your data, you consent to the transfer of such data.
		%li 
			Feedback
			%ul
				%li
					We welcome your feedback on this document. Please send all 
					questions and comments through our Contact Us page. ﻿