%h1 Safety Tips
%p
	We at Two Pickles hope that when using twopickles.org, our users are 
	friendly, trustworthy, and have generally good intentions. However, 
	since there are many types of people in the world that are beyond our 
	control, please take precautions before making trades.
%p
	When meeting someone for the first time, please remember to:
	%ul
		%li
			Insist on a public meeting place such as a café (VERY IMPORTANT).
		%li
			Meet during the daytime.
		%li
			Tell a friend or family member where you're going.
		%li
			Take your cell phone along if you have one.
		%li
			Consider having a friend accompany you.
		%li
			Trust your instincts.
%p
	These safety tips are from our own minds as well as some other sites that 
	support the safety of all users (such as Craigslist). Please make 
	protecting yourself your top priority in using twopickles.org.
