%h1 How to Use Two Pickles Communities

%p 
	Once you register at twopickles.com/register.php, you can join as many 
	Two Pickles Communities as you want. Our goal is to help you connect and 
	do business with people in all parts of your life (i.e. school, work, 
	neighborhood, church, etc.). Let's look at an example of a Two Pickles 
	member named Dr. Richard Pickle:

%p
	Dr. Pickle registers at twopickles.com/register.php so that he can buy, 
	sell and trade with all his real-life connections. Then he joins 3 
	communities on Two Pickles:
	%ul
		%li School – graduate of UNC School of the Arts*
		%li Work – employee of Pickmont Hospital
		%li Home – resident of Country Club of the South neighborhood
		
%p
	Each Two Pickles Community is a different part of Dr. Pickle's real-life 
	network. Dr. Pickle trades his old math book to a UNCSA student for some 
	DVDs; sells his iPod to a Pickmont Hospital colleague he met through 
	twopickles.com; and offers to mow his neighbor's lawn in exchange for 
	swimming lessons for his niece. Here's what Dr. Pickle's activity 
	looks like:

%i
	* Why did Dr. Pickle attend UNCSA? Because their mascot is the Fighting 
	Pickle! He also plays a mean tuba…

%p
	Manage your account (Registered Users)
%p
	As a member of Two Pickles you now have the ability to control your 
	profile in a much more concise way. Go to your My Account page to add 
	extra email aliases, see the communities you are a part of, change your 
	password, and manage the posts and trade chats you have going.

%p
	How to Use the Chat Feature (Registered Users)

%p
	If you member, the chat feature allows you to control all your trades 
	in one common place. In your My Account page, click on the Trades link. 
	This will bring you to all the trades you have going on with the 
	dialogue of each one. So whether you are trading for one item, or bidding 
	on multiple items, you'll have everything in one place.

%p
	When someone sends you a new message, you'll be notified in a few ways. 
	An email will be sent to your primary email address telling you about 
	new messages in your Two Pickles inbox. Along with that, your My Account 
	page will show you how many new messages you have by displaying the 
	number alongside the name, just as it would show up in any email inbox.

%p
	All messages will be private, with your name being anonymous. Only 
	generic names will be used, such as "You" and "Them" to ensure that 
	nothing is being given away. Of course you can always ask for their name!

%p
	How to Search and Post by Location (Unregistered Users)

%p
	If you don't feel like registering a Two Pickles account, no sweat, you 
	can still search and post items on twopickles.com by location. When 
	searching, take advantage of our filter options which allow you to find 
	postings in specific cities and states as well as specific categories. 
	When creating a post, make sure to select a city and state so that 
	people in your area can find your post when they search. Feel free to 
	provide more detail with “Specific Location” to let people in your city 
	know exactly where you are (i.e. Midtown, Downtown, etc.).